#Revisão de Python

###Variáveis e Operadores:

a) Crie um programa que leia dois números inteiros e imprima a soma, subtração,
multiplicação e divisão entre eles.

b) Escreva um programa que calcule a área de um círculo, solicitando o raio do
usuário.

In [ ]:
# Passo 1: Ler dois números inteiros do usuário
numero1 = int(input("Digite o primeiro número: "))
numero2 = int(input("Digite o segundo número: "))

# Passo 2: Realizar as operações matemáticas
soma = numero1 + numero2
subtracao = numero1 - numero2
multiplicacao = numero1 * numero2
divisao = numero1 / numero2

# Passo 3: Imprimir os resultados
print("A soma dos números é: ", soma)
print("A subtração dos números é: ", subtracao)
print("A multiplicação dos números é: ", multiplicacao)
print("A divisão dos números é: ", divisao)

Digite o primeiro número: 10
Digite o segundo número: 1
A soma dos números é:  11
A subtração dos números é:  9
A multiplicação dos números é:  10
A divisão dos números é:  10.0

In [ ]:
# Passo 1: Ler o raio do usuário
raio = float(input("Digite o valor do raio: "))

# Passo 2: Calcular a área do círculo
area = 3.14159 * (raio ** 2)

# Passo 3: Imprimir o resultado
print("A área do círculo é: ", area)

Digite o valor do raio: 2
A área do círculo é:  12.56636

##Estruturas de Seleção e Repetição:

a) Escreva um programa que solicite a idade do usuário e imprima se ele é menor
de idade (menor que 18 anos) ou maior de idade.

b) Crie um programa que peça ao usuário para adivinhar um número secreto
entre 1 e 100. O programa deve fornecer dicas se o palpite do usuário é maior ou
menor que o número secreto, até que ele adivinhe corretamente.

In [ ]:
idade = int(input("Digite sua idade: "))

if idade < 18:
    print("Você é menor de idade.")
else:
    print("Você é maior de idade.")

Digite sua idade: 25
Você é maior de idade.

In [ ]:
import random

numero_secreto = random.randint(1, 100)
tentativas = 0

print("Tente adivinhar o número secreto entre 1 e 100!")

while True:
    palpite = int(input("Digite seu palpite: "))
    tentativas += 1

    if palpite == numero_secreto:
        print(f"Parabéns! Você acertou em {tentativas} tentativas.")
        break
    elif palpite < numero_secreto:
        print("O número secreto é maior que seu palpite.")
    else:
        print("O número secreto é menor que seu palpite.")

Tente adivinhar o número secreto entre 1 e 100!
Digite seu palpite: 2
O número secreto é maior que seu palpite.
Digite seu palpite: 5
O número secreto é maior que seu palpite.
Digite seu palpite: 18
O número secreto é maior que seu palpite.
Digite seu palpite: 58
O número secreto é maior que seu palpite.
Digite seu palpite: 92
O número secreto é menor que seu palpite.
Digite seu palpite: 90
O número secreto é menor que seu palpite.
Digite seu palpite: 80
O número secreto é maior que seu palpite.
Digite seu palpite: 85
Parabéns! Você acertou em 8 tentativas.

##Coleções (Listas, Tuplas, Conjuntos):

a) Escreva um programa que crie uma lista de 5 números inteiros e imprima os
elementos dessa lista.

b) Crie uma tupla com os nomes de alguns animais. Em seguida, peça ao usuário
para digitar o nome de um animal e verifique se ele está presente na tupla.

In [ ]:
def lista_numeros():
    # Criando uma lista de 5 números inteiros
    numeros = [1, 2, 3, 4, 5]

    # Imprimindo os elementos da lista
    for numero in numeros:
        print(numero)

lista_numeros()

1
2
3
4
5

In [ ]:
def verifica_animal():
    # Criando uma tupla com nomes de animais
    animais = ("cachorro", "gato", "elefante", "leão", "girafa")

    # Pedindo ao usuário para digitar o nome de um animal
    nome_animal = input("Digite o nome de um animal: ").lower()

    # Verificando se o animal está presente na tupla
    if nome_animal in animais:
        print(f"O animal {nome_animal} está presente na tupla!")
    else:
        print(f"O animal {nome_animal} não está presente na tupla.")

verifica_animal()

Digite o nome de um animal: pato
O animal pato não está presente na tupla.

##Reutilização de Código (Funções e Módulos):

a) Escreva uma função que receba o nome de uma pessoa como argumento e
imprima uma mensagem de saudação.

b) Implemente um módulo contendo uma função que verifique se um número é
primo.

In [ ]:
def saudacao(nome):
    print(f"Olá, {nome}! Seja bem-vindo à nossa universidade!")

# Testando a função
saudacao("João")

Olá, João! Seja bem-vindo à nossa universidade!

In [ ]:
# verificar_primo.py

def eh_primo(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

# Testando a função
if __name__ == "__main__":
    print(eh_primo(2))  # Deve retornar True
    print(eh_primo(4))  # Deve retornar False

True
False

#Estatística Descritiva

Atividade do dia

**Conjuntos de dados**

● Pinguins (penguins)

● Gorjetas (tips)

● Titanic (titanic)

● Quarteto anscombe (anscombe)

**Atividade**

● Carregar conjunto de dados

● Criar dicionário de dados

● Descrever os dados usando estatísticas de tendência central e dispersão

● Calcular estatísticas de forma separada para cada variável categórica.

###penguins

In [10]:
import seaborn as sns
import pandas as pd

# Carregar o conjunto de dados dos pinguins
df = sns.load_dataset('penguins')

**Dicionário de dados**

Um dicionário de dados é uma descrição das variáveis no conjunto de dados. Vamos assumir que o conjunto de dados dos pinguins tem as seguintes colunas:

species: Espécie do pinguim

---


island: Ilha onde o pinguim foi encontrado

---


bill_length_mm: Comprimento do bico em mm

---


bill_depth_mm: Profundidade do bico em mm

---


flipper_length_mm: Comprimento da nadadeira em mm

---


body_mass_g: Massa corporal em gramas

---


sex: Sexo do pinguim

---

In [ ]:
# Descrever os dados
print(df.describe())

In [ ]:
# Estatísticas para cada espécie de pinguim
print(df.groupby('species').describe())

# Estatísticas para cada ilha
print(df.groupby('island').describe())

# Estatísticas para cada sexo
print(df.groupby('sex').describe())

###tips

In [13]:
# Carregar o conjunto de dados das gorjetas (tips)
df_tips = sns.load_dataset('tips')

**Dicionário de dados**

O conjunto de dados tips contém as seguintes colunas:

total_bill: Valor total da conta

---


tip: Valor da gorjeta

---


sex: Sexo do pagador da conta

---


smoker: Se o pagador é fumante ou não

---


day: Dia da semana

---


time: Refeição (Almoço ou Jantar)

---


size: Número de pessoas na mesa

---

In [ ]:
# Estatísticas separadas por sexo
print(df_tips.groupby('sex').describe())

# Estatísticas separadas por fumante ou não fumante
print(df_tips.groupby('smoker').describe())

# Estatísticas separadas por dia da semana
print(df_tips.groupby('day').describe())

# Estatísticas separadas por refeição (Almoço ou Jantar)
print(df_tips.groupby('time').describe())

###titanic

In [15]:
# Carregar o conjunto de dados do Titanic
df_titanic = sns.load_dataset('titanic')

**Dicionário de dados**

O conjunto de dados titanic contém as seguintes colunas:

survived: Se o passageiro sobreviveu (1) ou não (0)

---


pclass: Classe do bilhete (1, 2, ou 3)

---


sex: Sexo do passageiro

---


age: Idade do passageiro

---


sibsp: Número de irmãos/cônjuges a bordo

---


parch: Número de pais/filhos a bordo

---


fare: Tarifa paga pelo passageiro

---


embarked: Porto de embarque (C = Cherbourg; Q = Queenstown; S = Southampton)

---


class: Classe do bilhete como string (First, Second, Third)

---


who: Tipo de passageiro (man, woman, child)

---


deck: Deck do navio

---


embark_town: Cidade de embarque

---


alive: Se o passageiro sobreviveu ou não como string (yes, no)

---


alone: Se o passageiro estava sozinho ou não (True, False)

---

In [ ]:
# Descrever os dados
print(df_titanic.describe())

In [ ]:
# Estatísticas separadas por sobrevivência
print(df_titanic.groupby('survived').describe())

# Estatísticas separadas por classe do bilhete
print(df_titanic.groupby('pclass').describe())

# Estatísticas separadas por sexo
print(df_titanic.groupby('sex').describe())

# Estatísticas separadas por porto de embarque
print(df_titanic.groupby('embarked').describe())

# Estatísticas separadas por tipo de passageiro (man, woman, child)
print(df_titanic.groupby('who').describe())

# Estatísticas separadas por se o passageiro estava sozinho ou não
print(df_titanic.groupby('alone').describe())

###anscombe

In [18]:
# Carregar o conjunto de dados de Anscombe
df_anscombe = sns.load_dataset('anscombe')

**Dicionário de dados**

O conjunto de dados anscombe contém as seguintes colunas:

dataset: Identificador do conjunto (I, II, III ou IV)

---


x: Variável independente

---


y: Variável dependente

---

In [19]:
# Descrever os dados
print(df_anscombe.describe())

               x          y
count  44.000000  44.000000
mean    9.000000   7.500682
std     3.198837   1.958925
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000

In [20]:
# Estatísticas separadas por conjunto
print(df_anscombe.groupby('dataset').describe())

            x                                               y            \
        count mean       std  min  25%  50%   75%   max count      mean
dataset
I        11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500909
II       11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500909
III      11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500000
IV       11.0  9.0  3.316625  8.0  8.0  8.0   8.0  19.0  11.0  7.500909


              std   min    25%   50%   75%    max
dataset
I        2.031568  4.26  6.315  7.58  8.57  10.84
II       2.031657  3.10  6.695  8.14  8.95   9.26
III      2.030424  5.39  6.250  7.11  7.98  12.74
IV       2.030579  5.25  6.170  7.04  8.19  12.50