# Estatística Descritiva

Conjuntos de dados

● Pinguins (penguins)

● Gorjetas (tips)

● Titanic (titanic)

● Quarteto anscombe (anscombe)

Atividade

● Carregar conjunto de dados

● Criar dicionário de dados

● Descrever os dados usando estatísticas de tendência central e dispersão

● Calcular estatísticas de forma separada para cada variável categórica.

### penguins

In [1]:
import seaborn as sns
import pandas as pd

# Carregar o conjunto de dados dos pinguins
df = sns.load_dataset('penguins')

#### Dicionário de dados

Um dicionário de dados é uma descrição das variáveis no conjunto de dados. Vamos assumir que o conjunto de dados dos pinguins tem as seguintes colunas:

species: Espécie do pinguim

island: Ilha onde o pinguim foi encontrado

bill_length_mm: Comprimento do bico em mm

bill_depth_mm: Profundidade do bico em mm

flipper_length_mm: Comprimento da nadadeira em mm

body_mass_g: Massa corporal em gramas

sex: Sexo do pinguim

In [2]:
# Descrever os dados
print(df.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [3]:
# Estatísticas para cada espécie de pinguim
print(df.groupby('species').describe())

# Estatísticas para cada ilha
print(df.groupby('island').describe())

# Estatísticas para cada sexo
print(df.groupby('sex').describe())

          bill_length_mm                                                   \
                   count       mean       std   min    25%    50%     75%
species
Adelie             151.0  38.791391  2.663405  32.1  36.75  38.80  40.750
Chinstrap           68.0  48.833824  3.339256  40.9  46.35  49.55  51.075
Gentoo             123.0  47.504878  3.081857  40.9  45.30  47.30  49.550

                bill_depth_mm             ... flipper_length_mm         \
            max         count       mean  ...               75%    max
species                                   ...
Adelie     46.0         151.0  18.346358  ...             195.0  210.0
Chinstrap  58.0          68.0  18.420588  ...             201.0  212.0
Gentoo     59.6         123.0  14.982114  ...             221.0  231.0

          body_mass_g                                                   \
                count         mean         std     min     25%     50%
species
Adelie          151.0  3700.662252  458.566126  2850.0  3350.0  3700.0
Chinstrap        68.0  3733.088235  384.335081  2700.0  3487.5  3700.0
Gentoo          123.0  5076.016260  504.116237  3950.0  4700.0  5000.0


              75%     max
species
Adelie     4000.0  4775.0
Chinstrap  3950.0  4800.0
Gentoo     5500.0  6300.0

[3 rows x 32 columns]
          bill_length_mm                                                  \
                   count       mean       std   min    25%    50%    75%
island
Biscoe             167.0  45.257485  4.772731  34.5  42.00  45.80  48.70
Dream              124.0  44.167742  5.953527  32.1  39.15  44.65  49.85
Torgersen           51.0  38.950980  3.025318  33.5  36.65  38.90  41.10

                bill_depth_mm             ... flipper_length_mm         \
            max         count       mean  ...               75%    max
island                                    ...
Biscoe     59.6         167.0  15.874850  ...             220.0  231.0
Dream      58.0         124.0  18.344355  ...             198.0  212.0
Torgersen  46.0          51.0  18.429412  ...             195.0  210.0

          body_mass_g                                                   \
                count         mean         std     min     25%     50%
island
Biscoe          167.0  4716.017964  782.855743  2850.0  4200.0  4775.0
Dream           124.0  3712.903226  416.644112  2700.0  3400.0  3687.5
Torgersen        51.0  3706.372549  445.107940  2900.0  3337.5  3700.0


               75%     max
island
Biscoe     5325.00  6300.0
Dream      3956.25  4800.0
Torgersen  4000.00  4700.0

[3 rows x 32 columns]
       bill_length_mm                                                         \
                count       mean       std   min     25%   50%     75%   max
sex
Female          165.0  42.096970  4.903476  32.1  37.600  42.8  46.200  58.0
Male            168.0  45.854762  5.366896  34.6  40.975  46.8  50.325  59.6

       bill_depth_mm             ... flipper_length_mm        body_mass_g  \
               count       mean  ...               75%    max       count
sex                              ...
Female         165.0  16.425455  ...             210.0  222.0       165.0
Male           168.0  17.891071  ...             219.0  231.0       168.0


               mean         std     min     25%     50%     75%     max
sex
Female  3862.272727  666.172050  2700.0  3350.0  3650.0  4550.0  5200.0
Male    4545.684524  787.628884  3250.0  3900.0  4300.0  5312.5  6300.0

[2 rows x 32 columns]

## tips

In [4]:
# Carregar o conjunto de dados das gorjetas (tips)
df_tips = sns.load_dataset('tips')

Dicionário de dados

O conjunto de dados tips contém as seguintes colunas:

total_bill: Valor total da conta

tip: Valor da gorjeta

sex: Sexo do pagador da conta

smoker: Se o pagador é fumante ou não

day: Dia da semana

time: Refeição (Almoço ou Jantar)

size: Número de pessoas na mesa

In [5]:
# Estatísticas separadas por sexo
print(df_tips.groupby('sex').describe())

# Estatísticas separadas por fumante ou não fumante
print(df_tips.groupby('smoker').describe())

# Estatísticas separadas por dia da semana
print(df_tips.groupby('day').describe())

# Estatísticas separadas por refeição (Almoço ou Jantar)
print(df_tips.groupby('time').describe())

       total_bill                                                         \
            count       mean       std   min    25%    50%    75%    max
sex
Male        157.0  20.744076  9.246469  7.25  14.00  18.35  24.71  50.81
Female       87.0  18.056897  8.009209  3.07  12.75  16.40  21.52  44.30

          tip            ...               size                                \
        count      mean  ...   75%   max  count      mean       std  min  25%
sex                      ...
Male    157.0  3.089618  ...  3.76  10.0  157.0  2.630573  0.955997  1.0  2.0
Female   87.0  2.833448  ...  3.50   6.5   87.0  2.459770  0.937644  1.0  2.0


        50%  75%  max
sex
Male    2.0  3.0  6.0
Female  2.0  3.0  6.0

[2 rows x 24 columns]
       total_bill                                                           \
            count       mean       std   min     25%    50%     75%    max
smoker
Yes          93.0  20.756344  9.832154  3.07  13.420  17.92  26.860  50.81
No          151.0  19.188278  8.255582  7.25  13.325  17.59  22.755  48.33

          tip            ...                size                           \
        count      mean  ...    75%   max  count      mean       std  min
smoker                   ...
Yes      93.0  3.008710  ...  3.680  10.0   93.0  2.408602  0.810751  1.0
No      151.0  2.991854  ...  3.505   9.0  151.0  2.668874  1.017984  1.0


        25%  50%  75%  max
smoker
Yes     2.0  2.0  3.0  5.0
No      2.0  2.0  3.0  6.0

[2 rows x 24 columns]
     total_bill                                                             \
          count       mean       std   min      25%    50%      75%    max
day
Thur       62.0  17.682742  7.886170  7.51  12.4425  16.20  20.1550  43.11
Fri        19.0  17.151579  8.302660  5.75  12.0950  15.38  21.7500  40.17
Sat        87.0  20.441379  9.480419  3.07  13.9050  18.24  24.7400  50.81
Sun        76.0  21.410000  8.832122  7.25  14.9875  19.63  25.5975  48.17

       tip            ...                 size                                \
     count      mean  ...     75%    max count      mean       std  min  25%
day                   ...
Thur  62.0  2.771452  ...  3.3625   6.70  62.0  2.451613  1.066285  1.0  2.0
Fri   19.0  2.734737  ...  3.3650   4.73  19.0  2.105263  0.567131  1.0  2.0
Sat   87.0  2.993103  ...  3.3700  10.00  87.0  2.517241  0.819275  1.0  2.0
Sun   76.0  3.255132  ...  4.0000   6.50  76.0  2.842105  1.007341  2.0  2.0


      50%  75%  max
day
Thur  2.0  2.0  6.0
Fri   2.0  2.0  4.0
Sat   2.0  3.0  5.0
Sun   2.0  4.0  6.0

[4 rows x 24 columns]
       total_bill                                                              \
            count       mean       std   min      25%     50%      75%    max
time
Lunch        68.0  17.168676  7.713882  7.51  12.2350  15.965  19.5325  43.11
Dinner      176.0  20.797159  9.142029  3.07  14.4375  18.390  25.2825  50.81

          tip            ...                 size                           \
        count      mean  ...     75%   max  count      mean       std  min
time                     ...
Lunch    68.0  2.728088  ...  3.2875   6.7   68.0  2.411765  1.040024  1.0
Dinner  176.0  3.102670  ...  3.6875  10.0  176.0  2.630682  0.910241  1.0


        25%  50%  75%  max
time
Lunch   2.0  2.0  2.0  6.0
Dinner  2.0  2.0  3.0  6.0

[2 rows x 24 columns]

### titanic

In [6]:
# Carregar o conjunto de dados do Titanic
df_titanic = sns.load_dataset('titanic')

Dicionário de dados

O conjunto de dados titanic contém as seguintes colunas:

survived: Se o passageiro sobreviveu (1) ou não (0)

pclass: Classe do bilhete (1, 2, ou 3)

sex: Sexo do passageiro

age: Idade do passageiro

sibsp: Número de irmãos/cônjuges a bordo

parch: Número de pais/filhos a bordo

fare: Tarifa paga pelo passageiro

embarked: Porto de embarque (C = Cherbourg; Q = Queenstown; S = Southampton)

class: Classe do bilhete como string (First, Second, Third)

who: Tipo de passageiro (man, woman, child)

deck: Deck do navio

embark_town: Cidade de embarque

alive: Se o passageiro sobreviveu ou não como string (yes, no)

alone: Se o passageiro estava sozinho ou não (True, False)

In [7]:
# Descrever os dados
print(df_titanic.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
# Estatísticas separadas por sobrevivência
print(df_titanic.groupby('survived').describe())

# Estatísticas separadas por classe do bilhete
print(df_titanic.groupby('pclass').describe())

# Estatísticas separadas por sexo
print(df_titanic.groupby('sex').describe())

# Estatísticas separadas por porto de embarque
print(df_titanic.groupby('embarked').describe())

# Estatísticas separadas por tipo de passageiro (man, woman, child)
print(df_titanic.groupby('who').describe())

# Estatísticas separadas por se o passageiro estava sozinho ou não
print(df_titanic.groupby('alone').describe())

         pclass                                                 age  \
          count      mean       std  min  25%  50%  75%  max  count
survived
0         549.0  2.531876  0.735805  1.0  2.0  3.0  3.0  3.0  424.0
1         342.0  1.950292  0.863321  1.0  1.0  2.0  3.0  3.0  290.0

                     ... parch        fare                             \
               mean  ...   75%  max  count       mean        std  min
survived             ...
0         30.626179  ...   0.0  6.0  549.0  22.117887  31.388207  0.0
1         28.343690  ...   1.0  5.0  342.0  48.395408  66.596998  0.0


              25%   50%   75%       max
survived
0          7.8542  10.5  26.0  263.0000
1         12.4750  26.0  57.0  512.3292

[2 rows x 40 columns]
       survived                                                 age  \
          count      mean       std  min  25%  50%  75%  max  count
pclass
1         216.0  0.629630  0.484026  0.0  0.0  1.0  1.0  1.0  186.0
2         184.0  0.472826  0.500623  0.0  0.0  0.0  1.0  1.0  173.0
3         491.0  0.242363  0.428949  0.0  0.0  0.0  0.0  1.0  355.0

                   ... parch        fare                                       \
             mean  ...   75%  max  count       mean        std  min       25%
pclass             ...
1       38.233441  ...   0.0  4.0  216.0  84.154687  78.380373  0.0  30.92395
2       29.877630  ...   1.0  3.0  184.0  20.662183  13.417399  0.0  13.00000
3       25.140620  ...   0.0  6.0  491.0  13.675550  11.778142  0.0   7.75000


            50%   75%       max
pclass
1       60.2875  93.5  512.3292
2       14.2500  26.0   73.5000
3        8.0500  15.5   69.5500

[3 rows x 40 columns]
       survived                                              pclass            \
          count      mean       std  min  25%  50%  75%  max  count      mean
sex
female    314.0  0.742038  0.438211  0.0  0.0  1.0  1.0  1.0  314.0  2.159236
male      577.0  0.188908  0.391775  0.0  0.0  0.0  0.0  1.0  577.0  2.389948

        ... parch        fare                                               \
        ...   75%  max  count       mean        std   min        25%   50%
sex     ...
female  ...   1.0  6.0  314.0  44.479818  57.997698  6.75  12.071875  23.0
male    ...   0.0  5.0  577.0  25.523893  43.138263  0.00   7.895800  10.5


          75%       max
sex
female  55.00  512.3292
male    26.55  512.3292

[2 rows x 48 columns]
         survived                                              pclass  \
            count      mean       std  min  25%  50%  75%  max  count
embarked
C           168.0  0.553571  0.498608  0.0  0.0  1.0  1.0  1.0  168.0
Q            77.0  0.389610  0.490860  0.0  0.0  0.0  1.0  1.0   77.0
S           644.0  0.336957  0.473037  0.0  0.0  0.0  1.0  1.0  644.0

                    ... parch        fare                                \
              mean  ...   75%  max  count       mean        std     min
embarked            ...
C         1.886905  ...   1.0  3.0  168.0  59.954144  83.912994  4.0125
Q         2.909091  ...   0.0  5.0   77.0  13.276030  14.188047  6.7500
S         2.350932  ...   0.0  6.0  644.0  27.079812  35.887993  0.0000


               25%    50%        75%       max
embarked
C         13.69795  29.70  78.500025  512.3292
Q          7.75000   7.75  15.500000   90.0000
S          8.05000  13.00  27.900000  263.0000

[3 rows x 48 columns]
      survived                                              pclass            \
         count      mean       std  min  25%  50%  75%  max  count      mean
who
child     83.0  0.590361  0.494757  0.0  0.0  1.0  1.0  1.0   83.0  2.626506
man      537.0  0.163873  0.370506  0.0  0.0  0.0  0.0  1.0  537.0  2.372439
woman    271.0  0.756458  0.430014  0.0  1.0  1.0  1.0  1.0  271.0  2.084871

       ... parch        fare                                               \
       ...   75%  max  count       mean        std    min      25%    50%
who    ...
child  ...   2.0  2.0   83.0  32.785795  33.466438  7.225  15.9000  26.25
man    ...   0.0  5.0  537.0  24.864182  44.021339  0.000   7.8542   9.50
woman  ...   1.0  6.0  271.0  46.570711  60.318995  6.750  10.5000  23.25


            75%       max
who
child  32.19375  211.3375
man    26.38750  512.3292
woman  65.00000  512.3292

[3 rows x 48 columns]
      survived                                              pclass            \
         count      mean       std  min  25%  50%  75%  max  count      mean
alone
False    354.0  0.505650  0.500676  0.0  0.0  1.0  1.0  1.0  354.0  2.169492
True     537.0  0.303538  0.460214  0.0  0.0  0.0  1.0  1.0  537.0  2.400372

       ... parch        fare                                                 \
       ...   75%  max  count       mean        std     min     25%      50%
alone  ...
False  ...   2.0  6.0  354.0  48.832275  55.307615  6.4958  18.000  27.7500
True   ...   0.0  0.0  537.0  21.242689  42.223510  0.0000   7.775   8.1375


           75%       max
alone
False  59.0448  512.3292
True   15.0000  512.3292

[2 rows x 48 columns]

### anscombe

In [9]:
# Carregar o conjunto de dados de Anscombe
df_anscombe = sns.load_dataset('anscombe')

Dicionário de dados

O conjunto de dados anscombe contém as seguintes colunas:

dataset: Identificador do conjunto (I, II, III ou IV)

x: Variável independente

y: Variável dependente

In [10]:
# Descrever os dados
print(df_anscombe.describe())

               x          y
count  44.000000  44.000000
mean    9.000000   7.500682
std     3.198837   1.958925
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000

In [11]:
# Estatísticas separadas por conjunto
print(df_anscombe.groupby('dataset').describe())

            x                                               y            \
        count mean       std  min  25%  50%   75%   max count      mean
dataset
I        11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500909
II       11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500909
III      11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500000
IV       11.0  9.0  3.316625  8.0  8.0  8.0   8.0  19.0  11.0  7.500909


              std   min    25%   50%   75%    max
dataset
I        2.031568  4.26  6.315  7.58  8.57  10.84
II       2.031657  3.10  6.695  8.14  8.95   9.26
III      2.030424  5.39  6.250  7.11  7.98  12.74
IV       2.030579  5.25  6.170  7.04  8.19  12.50